@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 
 
/* navbar style start  */

.main-nav {
    /* background-color: black; */
    /* background-image: linear-gradient(45deg, #b3a1e7, #99f5e9); 	 */

    color: black;
    width: 100%;
    height: 8rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 10rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, */
    /* rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 1/3;
    justify-content: start;
    align-items: center;
}

.logo-img {
    width: 6em;
}

.menu-link {
    grid-column: 3/4;
    /* color: aliceblue; */
    color: black;



}

.menu-link ul {
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: aliceblue; */
    color: black;
    margin-left: -31rem;

}

.social-media {
    grid-column: 4/5;
}

.social-media ul {
    height: 10rem;
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;
}

.social-media ul li {
    text-align: right;
}

.social-media ul li:first-child {
    grid-column: 2/3;
}












/* ----------- Grid part ends ----------------- */

.logo h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, rgb(224 191 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2 span {
    font-size: 3.5rem;
    color: #c32aa3;
    background-color: #00000000;

}

.menu-link ul li {
    font-size: 1.8rem;
}

.menu-link ul li a {
    text-transform: capitalize;
    /* color: white; */
    color: black;
    /* margin: 7px; */


    transition: 0.5s;
}

.menu-link ul li:hover>a {
    transform-origin: left;
    /* color: rgb(255, 255, 255); */
    /* color: rgb(233, 0, 0); */

    text-decoration: none;
    transition: 0.5s;
}

.menu-link ul li>a.active {
    /* transform-origin: left; */
    /* color: rgb(255, 255, 255); */
    /* color: rgb(233, 0, 0); */
    /* transition: 300ms; */
    /* height: 5px; */
    /* background-color: #af0000; */


}






.nav-link {

    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #af0000;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}











.social-media ul li {
    font-size: 1.8rem;
}

.social-media .hamburger-menu {
    display: none;
    color: white;
}

.facebook {
    color: #3b5998;
}

.instagram {
    color: #c32aa3;
}

.youtube {
    color: #ff0000;
}

/* hero section   */

.hero-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section p {
    font-size: 3rem;
    text-transform: capitalize;
}

.hero-section h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}

/* responsive css style  */
@media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }

    .logo,
    .menu-link ul,
    .social-media ul {
        height: 8rem;
    }
}

/* responsive css style  */
@media (max-width: 998px) {
    .menu-link ul {
        margin-left: 0rem;
    }

    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }

    .menu-link {
        display: none;
    }

    .logo,
    .social-media ul {
        height: 7rem;
    }

    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
        margin-top: 1rem;
    }

    .mobile-menu-link {
        background-color: aliceblue;
        height: 40rem;
        display: grid;
        border-radius: 5rem;
        grid-column: 2/5;
        align-items: center;
        padding-left: 1rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* align-items: flex-start; */
        align-items: center;
    }

    .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
    }

    .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
    }

    .social-media .social-media-desktop {
        height: 0;
        display: none;
    }

    .social-media {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
        color: #ffffff;
    }

    .logo-img {
        width: 5.5em;
    }
}

@media (max-width: 798px) {

    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }

    .logo,
    .social-media ul {
        height: 6rem;
    }

    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
        color: #ffffff;
    }

    .logo-img {
        width: 4.5em;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }

    .logo,
    .social-media ul {
        height: 6rem;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
        color: #ffffff;
    }

    /* hero section  */

    .hero-section h1 {
        font-size: 3.8rem;
    }
}