@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.project-main {
    position: relative;
    /* background-color: aqua; */
    /* border-radius: 2rem; */
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    min-height: 48em;
    /* background-image: linear-gradient(45deg, #b3a1e7, #99f5e9); 	 */



}

.project-bg {
    position: absolute;
    height: 60rem;
    margin-top: 2rem;
    /* top: 50rem; */
    right: 0;
    left: 0;
    /* bottom: 0; */
    background-image: linear-gradient(45deg, #b3a1e7, #99f5e9);
    /* transform: skewY(-5deg); */
}

.heading {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.search-bar {
    /* display: flex; */
    /* margin: ; */
    /* display: flex; */
    /* justify-content: center; */

    padding-left: 5em;
    padding-right: 5em;


}


.projectCard-2 {
    margin: 1em 2em 1em 3em;
}



.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -10%; */
    min-width: 20%;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.select-menu {
    font-family: 'Poppins', sans-serif;
    /* width: 380px; */
    /* margin: 140px auto; */
}

.select-menu .select-btn {
    display: flex;
    height: 55px;

    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 50px;
    z-index: 99 !important;

}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    min-height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}




/* Analysis css */

.main-home-text {
    display: flex;
    justify-content: center;
    font-size: 4.3rem;
    /* font-weight: 900; */
    font-family: 'Fredoka One', cursive;
    margin-bottom: 0.5%;


}

.main-home-sub-text {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
    font-family: 'Ubuntu', sans-serif;


}

.on-home-bg {
    margin-top: -25.4%;
    /* margin-bottom: 2%; */

}



/* Graph section  */


.no-graph {

    font-size: 4rem;
    display: flex;
    justify-content: center;
    /* padding-top: 2rem; */
    margin-bottom: -5rem;
}

.graph-section {
    /* display: flex;
    justify-content: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width:120rem; */
    padding-top: 4.6%;
    /* max-width: 800px; */

}

.plotlyi {
    display: flex;
    justify-content: center;
}

.modebar-container {
    right: -8% !important;
    top: 20% !important
}


.secoundary-head {
    display: flex;
    font-size: 5rem;
    color: #00d744;
    /* justify-content: center; */
}

.resonsive-plot {
    margin-right: 10rem !important;
    height: 350;


}

.main-svg {}

.plot-container {}

/* Home css */

.white-area {
    background-color: #F2F2F2;

}

.gtitle {
    font-size: 2.2rem !important;
    overflow-wrap: break-word !important;

}




/* responsiveness */

@media (max-width: 980px) {
    .on-home-bg {

        margin-top: -38%;
        margin-bottom: 2%;

    }
}

@media (max-width: 876px) {
    .on-home-bg {

        margin-top: -36rem;
        margin-bottom: 2%;

    }
}

@media (max-width: 730px) {
    .gtitle {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 653px) {
    .no-graph {
        font-size: 2.5rem;
        /* display: flex; */
        text-align: center;
        /* justify-content: center; */
    }

    .main-home-text {
        text-align: center;
        font-size: 4rem;
    }

    .on-home-bg {

        margin-top: -78%;
        margin-bottom: 9%;

    }

    .bg {
        min-height: 600px;
    }
}

@media (max-width: 572px) {
    .on-home-bg {

        margin-top: -36rem;
        margin-bottom: 2%;

    }

    .no-graph {
        font-size: 2rem;
        /* display: flex; */
        text-align: center;
        /* justify-content: center; */
    }

    .on-home-bg {

        margin-top: -88%;
        margin-bottom: 9%;

    }

    /* .bg{
        min-height: 600px;
} */


}

@media (max-width: 450px) {

    .on-home-bg {

        margin-top: -125%;
        margin-bottom: 12%;

    }

    .gtitle {
        font-size: 1rem !important;
    }

    .svg-container {
        height: 160px !important;
        /* width: 201px !important; */
        margin-top: 100px !important;
    }


    /* .bg{
        min-height: 600px;
} */


}

@media (max-width: 390px) {

    .on-home-bg {

        margin-top: -130%;
        margin-bottom: 20%;

    }

    /* .bg{
        min-height: 600px;
} */


}

@media (max-width: 320px) {

    .on-home-bg {

        margin-top: -180%;
        margin-bottom: 20%;

    }

    /* .bg{
        min-height: 600px;
} */


}

.select-container {
    display: flex;
    justify-content: center;
}


.slider-card-title {
    font-size: 2.3rem;
}


.boxi {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    background: red;
    margin-left: 47%;
}