@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.project-main {
    position: relative;
    /* background-color: aqua; */
    /* border-radius: 2rem; */
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    min-height: 48em;
    /* background-image: linear-gradient(45deg, #b3a1e7, #99f5e9); 	 */



}

.project-bg {
    position: absolute;
    height: 60rem;
    margin-top: 2rem;
    /* top: 50rem; */
    right: 0;
    left: 0;
    /* bottom: 0; */
    background-image: linear-gradient(45deg, #b3a1e7, #99f5e9);
    /* transform: skewY(-5deg); */
}

.heading {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.search-bar {
    /* display: flex; */
    /* margin: ; */
    /* display: flex; */
    /* justify-content: center; */

    padding-left: 5em;
    padding-right: 5em;


}


.projectCard-2 {
    margin: 1em 2em 1em 3em;
}



.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -10%; */
    min-width: 20%;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.select-menu {
    font-family: 'Poppins', sans-serif;
    /* width: 380px; */
    /* margin: 140px auto; */
}

.select-menu .select-btn {
    display: flex;
    height: 55px;

    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 50px;
    z-index: 99 !important;

}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    min-height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}




/* Analysis css */

.main-home-text {
    display: flex;
    justify-content: center;
    font-size: 4.3rem;
    /* font-weight: 900; */
    font-family: 'Fredoka One', cursive;
    margin-bottom: 0.5%;


}

.main-home-sub-text {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
    font-family: 'Ubuntu', sans-serif;


}

.on-home-bg {
    margin-top: -44.4%;
    /* margin-bottom: 2%; */

}



/* Graph section  */


.no-graph {

    font-size: 4rem;
    display: flex;
    justify-content: center;
    /* padding-top: 2rem; */
    margin-bottom: -5rem;
}

.graph-section {
    /* display: flex;
    justify-content: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width:120rem; */
    padding-top: 4.6%;
    /* max-width: 800px; */

}

.plotlyi {
    display: flex;
    justify-content: center;
}

.modebar-container {
    right: -8% !important;
    top: 20% !important
}


.secoundary-head {
    display: flex;
    font-size: 5rem;
    color: #00d744;
    /* justify-content: center; */
}

.resonsive-plot {
    margin-right: 10rem !important;
    height: 350;


}

.main-svg {}

.plot-container {}

/* Home css */

.white-area {
    background-color: #F2F2F2;

}

.gtitle {
    font-size: 2.2rem !important;
    overflow-wrap: break-word !important;

}

.col-home-l {
    display: flex !important;
    justify-content: center !important;
    padding-right: 0% !important;
    /* align-items: center;
    flex-direction: column; */
}

.col-home-r {
    display: flex !important;
    justify-content: center !important;
    padding-left: 0% !important;
    /* align-items: center;
    flex-direction: column; */
}

.col-inside {
    margin-left: 1.7% !important;
    font-size: 2rem !important;
}

.col-inside {
    /* margin-left: 1% !important; */
    /* font-size: 2rem !important; */
}

.col-inside {
    /* font-size: 2rem !important; */
    padding: 6px 37px !important;
}

.cPsKcu {
    padding: 6px 40px !important;
}

.col-home-l {
    font-size: 2.5rem;
}

.col-home-r {
    font-size: 2.5rem;
}

.Center {
    font-size: 4.2rem;
}

.tax-data {
    font-size: 4.5rem;
}

/* responsiveness */

@media (max-width: 1400px) {
    .on-home-bg {

        margin-top: -58rem;
        margin-bottom: 2%;

    }
}

@media (max-width: 28000px) {
    .on-home-bg {

        margin-top: -58rem;
        margin-bottom: 2%;

    }

    .bg {
        /* background-image: linear-gradient(45deg, #b3a1e7, #99f5e9); */
        /* background-image: linear-gradient(45deg, #947add, #e85555); */
        min-height: 700px;
    }
}

@media (max-width: 991px) {
    .on-home-bg {

        margin-top: -68%;
        margin-bottom: 2%;

    }

    .bg {
        /* background-image: linear-gradient(45deg, #b3a1e7, #99f5e9); */
        /* background-image: linear-gradient(45deg, #947add, #e85555); */
        min-height: 700px;
    }

    .col-home-l {
        display: flex !important;
        justify-content: center !important;
        padding-right: 0% !important;
        /* align-items: center;
        flex-direction: column; */
    }

    .col-home-r {
        display: flex !important;
        justify-content: center !important;
        padding-left: 0% !important;
        /* align-items: center;
        flex-direction: column; */
    }

    .col-inside {
        margin-left: 1% !important;
        font-size: 1.5rem !important;
    }
}


@media (max-width: 756px) {
    .on-home-bg {

        margin-top: -63rem;
        margin-bottom: 2%;

    }
}

@media (max-width: 730px) {
    .gtitle {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 653px) {
    .no-graph {
        font-size: 2.5rem;
        /* display: flex; */
        text-align: center;
        /* justify-content: center; */
    }

    .main-home-text {
        text-align: center;
        font-size: 4rem;
    }

    .on-home-bg {

        margin-top: -84%;
        margin-bottom: 9%;

    }

    .bg {
        min-height: 600px;
    }
}



@media (max-width: 580px) {
    .on-home-bg {

        margin-top: -46rem;
        margin-bottom: 2%;

    }

    .col-home-l {
        font-size: 1.5rem;
    }

    .col-home-r {
        font-size: 1.5rem;
    }

    .Center {
        font-size: 2rem;
    }

    .tax-data {
        font-size: 2.5rem;
    }


    .no-graph {
        font-size: 2rem;
        /* display: flex; */
        text-align: center;
        /* justify-content: center; */
    }

    .on-home-bg {

        margin-top: -135%;
        margin-bottom: 9%;

    }

    .bg {
        min-height: 800px;
    }

    .col-inside {
        /* margin-left: 1% !important; */
        font-size: 1rem !important;
        padding: 3px 24px !important;
    }



    .cPsKcu {
        padding: 3px 19px !important;
    }


}

@media (max-width: 485px) {
    .col-inside {
        padding: 3px 19px !important;
    }

    .cPsKcu {
        padding: 3px 19px !important;
    }
}

@media (max-width: 450px) {

    .on-home-bg {

        margin-top: -169%;
        margin-bottom: 12%;

    }

    .gtitle {
        font-size: 1rem !important;
    }

    .svg-container {
        height: 160px !important;
        /* width: 201px !important; */
        margin-top: 100px !important;
    }


    /* .bg{
        min-height: 600px;
} */


}

@media (max-width: 400px) {

    .on-home-bg {

        margin-top: -180%;
        /* margin-bottom: 20%; */

    }

    /* .bg{
        min-height: 600px;
} */


}

@media (max-width: 375px) {

    .on-home-bg {

        margin-top: -195%;
        /* margin-bottom: 20%; */

    }

    /* .bg{
        min-height: 600px;
} */


}

@media (max-width: 332px) {

    .on-home-bg {

        margin-top: -225%;
        margin-bottom: 20%;

    }

    /* .bg{
        min-height: 600px;
} */


}

/* @media (max-width: 238px) {

    .on-home-bg {

        margin-top: -300%;
        margin-bottom: 20%;

    }
} */

@media (max-width: 288px) {

    .on-home-bg {

        margin-top: -265%;
        margin-bottom: 20%;

    }

    .col-inside {
        padding: 2px 10px !important;
    }

    .cPsKcu {
        padding: 2px 10px !important;
    }


}

.select-container {
    display: flex;
    justify-content: center;
}


.slider-card-title {
    font-size: 2.3rem;
}


.boxi {
    justify-content: center;
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    background: red;
    /* margin-left: 50%; */
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}


/* slider

 */

.slider-select {
    margin-top: 2.2%;
    display: flex;
    justify-content: center;

}



.slider-label {
    margin-right: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* slider */

.MuiSlider-sizeMedium {
    color: #52104f !important;
}

.css-eg0mwd-MuiSlider-thumb {
    color: black !important;
    /* background-color: #00d744 !important; */
    background-image: url("../../assets/logo/YOGLABS-logo.png") !important;


}

.MuiSlider-rail {
    opacity: 1 !important;
}

.year-text {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slider-label {
    padding-top: 3%;
    margin-bottom: -2%;
    display: flex;
    justify-content: center;
}

.MuiPaper-root {
    background-image: linear-gradient(45deg, #947add, #e85555);

}

.col-home-l {
    display: flex;
    justify-content: end;
    padding-right: 9%;
    /* align-items: center;
    flex-direction: column; */
}

.col-home-r {
    display: flex;
    justify-content: flex-start;
    padding-left: 8%;
    /* align-items: center;
    flex-direction: column; */
}